@charset "UTF-8";
.li_four.inview {
  height: 200px;
}

.li_five.inview {
  height: 250px;
}

.li_six.inview {
  height: 300px;
}

.li_seven.inview {
  height: 350px;
}

.li_eight.inview {
  height: 400px;
}

.li_nine.inview {
  height: 450px;
}

.li_ten.inview {
  height: 500px;
}

.inview.acd_child > li:nth-of-type(1) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.inview.acd_child > li:nth-of-type(2) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.inview.acd_child > li:nth-of-type(3) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.inview.acd_child > li:nth-of-type(4) {
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.inview.acd_child > li:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.inview.acd_child > li:nth-of-type(6) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

.inview.acd_child > li:nth-of-type(7) {
  -webkit-transition-delay: 0.56s;
          transition-delay: 0.56s;
}

.inview.acd_child > li:nth-of-type(8) {
  -webkit-transition-delay: 0.64s;
          transition-delay: 0.64s;
}

.inview.acd_child > li:nth-of-type(9) {
  -webkit-transition-delay: 0.72s;
          transition-delay: 0.72s;
}

.inview.acd_child > li:nth-of-type(10) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.acd a {
  display: block;
  color: #fff;
  padding: 0 7px;
  line-height: 49px;
}

.acd_child {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #c5c5c5), color-stop(24%, #f3f3f3));
  background: linear-gradient(#c5c5c5 5%, #f3f3f3 24%);
  height: 0;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.acd_child.inview {
  opacity: 1;
  visibility: visible;
}

.acd_child a {
  color: #1565c0;
}

.acd_child i {
  color: #555555;
}

.acd_parents > li > a {
  position: relative;
}

.acd_parents > li > a::after {
  content: "";
  background-image: url(../images/hamb.svg);
  background-size: contain;
  display: inline-block;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 20px;
  right: 18px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.acd_parents > li > a.inview::after {
  background-image: url(../images/hambcross.svg);
}

.acd_parents > li {
  background-color: #37474f;
  border-bottom: 1px solid #90a4ae;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview {
  height: 300px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_four {
  height: 500px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_five {
  height: 550px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_six {
  height: 600px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_seven {
  height: 650px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_eight {
  height: 700px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_nine {
  height: 750px;
  opacity: 1;
}

.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .acd_parents.inview.is-open.li_ten {
  height: 800px;
  opacity: 1;
}

.ap_arrow {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  -webkit-filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.5));
}

.bnrTop img {
  border: 1px solid #c5c5c5;
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  height: auto;
  width: 100%;
}

.child {
  border-bottom: 1px solid #90a4ae;
}

.child:first-child {
  border-top: 1px solid #90a4ae;
}

.child_items {
  height: 0;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.child_items.inview {
  opacity: 1;
  visibility: visible;
}

.child:nth-child(-n+5) > a {
  position: relative;
}

.child:nth-child(-n+5) > a::after {
  content: "";
  background-image: url(../images/toggle.svg);
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  position: absolute;
  top: 20px;
  right: 18px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.sitemap .child_item a {
  position: relative;
  font-size: 13px;
  padding-left: 25px;
  color: #37474f;
}

.sitemap .child_item a::before {
  content: ">";
  position: absolute;
  top: -1%;
  left: 10px;
}

.container.active {
  display: none;
}

.footer {
  background-color: #37474f;
  height: 78px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.footer p {
  padding: 15px 0 10px;
}

.js-fadein {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.js-fadein.inview {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.headerlogo {
  margin: 9px;
}

.hdrlg {
  max-height: 34px;
}

.headertop {
  border-bottom: 1px solid #1565c0;
  position: fixed;
  background-color: #fff;
  height: 51px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav_area a {
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #1565c0;
  z-index: 2;
}

.nav_open div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav_open div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.nav_open div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}

.nav_open.active div:nth-last-child(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0px);
          transform: rotate(45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav_open.active div:nth-last-child(2) {
  opacity: 0;
}

.nav_open.active div:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0px);
          transform: rotate(-45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.fas, .far {
  margin-left: 10px;
  margin-right: 10px;
}

.form {
  border: 1px solid #fff;
  display: inline-block !important;
  padding: 13px 0;
  margin: 40px 0;
  width: 300px;
}

.formlng {
  line-height: 30px !important;
}

.mobile_menu {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1565c0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: 20;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.mobile_menu.active {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.mobile_menu a {
  display: block;
  color: #fff;
  padding: 0 17px;
  line-height: 49px;
}

.mobile_menu span {
  display: inline-block;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 15px;
}

.mobile_menu__main > li:nth-child(-n+5) > a {
  position: relative;
}

.mobile_menu__main > li:nth-child(-n+5) > a::after {
  content: "";
  background-image: url(../images/toggle.svg);
  background-size: contain;
  display: inline-block;
  height: 10px;
  width: 10px;
  vertical-align: middle;
  position: absolute;
  top: 20px;
  right: 18px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.mobile_menu__main > li > a.inview::after {
  content: "";
  background-image: url(../images/toggle_minus.svg);
}

.mobile_menu__main > li {
  background-color: #1565c0;
  opacity: 0;
}

.active .mobile_menu__main > li {
  opacity: 1;
}

.active .mobile_menu__main > li:nth-of-type(1) {
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.active .mobile_menu__main > li:nth-of-type(2) {
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.active .mobile_menu__main > li:nth-of-type(3) {
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.active .mobile_menu__main > li:nth-of-type(4) {
  -webkit-transition-delay: 0.32s;
          transition-delay: 0.32s;
}

.active .mobile_menu__main > li:nth-of-type(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.active .mobile_menu__main > li:nth-of-type(6) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}

.active .mobile_menu__main > li:nth-of-type(7) {
  -webkit-transition-delay: 0.56s;
          transition-delay: 0.56s;
}

.active .mobile_menu__main > li:nth-of-type(8) {
  -webkit-transition-delay: 0.64s;
          transition-delay: 0.64s;
}

.active .mobile_menu__main > li:nth-of-type(9) {
  -webkit-transition-delay: 0.72s;
          transition-delay: 0.72s;
}

.active .mobile_menu__main > li:nth-of-type(10) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.mobile_menu__main > li {
  border-bottom: 1px solid #90a4ae;
}

.mobile_menu__main > li:nth-last-child(-n+2) {
  text-align: center;
  border-bottom: none !important;
  padding: 0;
}

.mobile_menu__main > li:last-child {
  padding-bottom: 50px;
}

.ul_child {
  height: 0;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  overflow: hidden;
}

.ul_child li {
  background-color: #4484cd;
}

.ul_child li:hover {
  opacity: 0.7;
}

.ul_child.inview {
  height: 300px;
}

.ul_child.inview li {
  visibility: visible;
  border-top: 1px dotted #90a4ae;
}

/*=== 画像の表示エリア ================================= */
.slide {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slide::before {
  content: "";
  display: block;
  padding-top: 40.5%;
  /* 高さを幅の75%に固定 */
}

.slider {
  padding-top: 51px;
}

/*=== slide 画像の設定 ======================================= */
.slide img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: slideAnime 25s ease infinite;
          animation: slideAnime 25s ease infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

/*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.slide img:nth-of-type(2) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.slide img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.slide img:nth-of-type(4) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.slide img:nth-of-type(5) {
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

/*=== スライドのアニメーション ========================= */
@-webkit-keyframes slideAnime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideAnime {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*=== 画像の表示エリア ここまで================================= */
.sitemap > ul > li {
  background-color: #eceff1;
}

.sitemap > ul > li > a {
  padding-left: 25px;
  color: #37474f;
}

.sitemap P {
  text-align: center;
  background-color: #eceff1;
  height: 49px;
  line-height: 49px;
  border-top: 1px solid #90a4ae;
}

.sitemap .child {
  background-color: #eceff1;
}
/*# sourceMappingURL=style.css.map */