$linecolor: #90a4ae;
$mcolor: #1565c0;

@mixin acd_base (
  $transition: 0.4s
  ) {
    height: 0;
    opacity: 0;
    transform-origin: top;
    overflow: hidden;
    visibility: hidden;
    transition: all $transition ease-out;  
}

@mixin acd_inview {
  opacity: 1;
  visibility: visible;
}

@mixin li_item {
    content: "";
    background-image: url(../images/hamb.svg);
    background-size: contain;
    display: inline-block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 20px;
    right: 18px;
    transition: 0.4s ease-out;
  &.inview::after {
    background-image: url(../images/hambcross.svg);
  }
}

// アコーディオンの高さをeachでまわす　----------------
$pattern: (
  "li_four": 200px,
  "li_five": 250px,
  "li_six":  300px,
  "li_seven":350px,
  "li_eight":400px,
  "li_nine": 450px,
  "li_ten":  500px
);

@each $key, $value in $pattern {
  .#{$key} {
    &.inview {
      height: $value;
    }
  }
}
// ------------------------------------------------
.inview.acd_child > li {
  @for $i from 1 through 10 {
    &:nth-of-type(#{$i}) {
      transition-delay: $i * 0.08s;
    }
  }
}

.acd {
  & a {
    display: block;
    color: #fff;
    padding:0 7px;
    line-height: 49px;
  }
  &_child {
    background: linear-gradient(#c5c5c5 5%, #f3f3f3 24%);
    @include acd_base();

    &.inview {
      @include acd_inview();
    }
    
    & a {
      color: #1565c0;
    }
    & i {
      color: rgb(85, 85, 85);
    }
  }
  &_parents {
    & > li > a {
      position: relative;
      &::after {
        content: "";
        background-image: url(../images/hamb.svg);
        background-size: contain;
        display: inline-block;
        height: 12px;
        width: 12px;
        position: absolute;
        top: 20px;
        right: 18px;
        transition: 0.4s ease-out;
      }
      &.inview::after {
        background-image: url(../images/hambcross.svg);
      }
    }
    &>li {
      background-color: #37474f;
      border-bottom: 1px solid $linecolor;
    }
  }
}
  
.sitemap .acd_parents {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
  &.inview {
    height: 300px;
    opacity: 1;
  }
}


@each $key,$value in $pattern {
  
  .sitemap .acd_parents {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;
    &.inview.is-open.#{$key} {
      height: 300px + $value;
      opacity: 1;
    }
  }
}

.ap_arrow {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  filter: drop-shadow(3px 5px 3px rgba(0, 0, 0,0.5));
}

.bnrTop {
  & img {
    border: 1px solid #c5c5c5;
    transform: scale(.93);
    height: auto;
    width: 100%;
  }
}

.child {
  border-bottom: 1px solid $linecolor; 
  &:first-child {
    border-top: 1px solid $linecolor;
  }
}

.child_items {
  @include acd_base();
  &.inview {
    @include acd_inview();
  }
}

.child:nth-child(-n+5) > a {
  position: relative;
  &::after {
    content: "";
    background-image: url(../images/toggle.svg);
    background-size: contain;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    right: 18px;
    transition: all 0.4s ease-out;
  }
}

.sitemap .child_item a {
  position: relative;
  font-size: 13px;
  padding-left: 25px;
  color: #37474f;
  &::before {
    content: ">";
    position: absolute;
    top: -1%;
    left: 10px;
  }
}

.container.active {
  display: none;
}

.footer {
  background-color: #37474f;
  height: 78px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  & p {
    padding: 15px 0 10px;
  }
}

.js-fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 2s;
}

.js-fadein.inview {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.headerlogo {
  margin: 9px;
}

.hdrlg {
  max-height: 34px;
}
.headertop {
  border-bottom: 1px solid $mcolor;
  position: fixed;
  background-color: #fff;
  height: 51px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

//ハンバーガーmenu============= 
.nav_area a { //外枠の丸
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #1565c0;
  z-index: 2;
}
.nav_open {
  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-out;

    &:nth-of-type(1) {
      transform: translate(-50%,-10px);
    }
    &:nth-of-type(3) {
      transform: translate(-50%,7px);
    }
  }
}
.nav_open.active div {
  &:nth-last-child(1) {
    transform: rotate(45deg) translate(-50%,0px);
    transform-origin: left;
  }
  &:nth-last-child(2) {
    opacity: 0;
  }
  &:nth-last-child(3) {
    transform: rotate(-45deg) translate(-50%,0px);
    transform-origin: left;
  } 
}
//ハンバーガーmenuここまで============= 

// moblie menu ここから　=====================

.fas,.far {
  margin-left: 10px;
  margin-right: 10px;
}
.form {
  border: 1px solid #fff;
  display: inline-block!important;
  padding: 13px 0;
  margin: 40px 0;
  width: 300px;
  }
.formlng {
  line-height: 30px!important; //mobile menuのEnglishの部分
}

.mobile_menu {
  position: absolute;
  top: 51px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $mcolor;
  transform: scaleY(0);
  z-index: 20;
  transition: all 0.4s ease-out;
  transform-origin: top;
  &.active {
    transform: scaleY(1);
  }
  & a {
    display: block;
    color: #fff;
    padding:0 17px;
    line-height: 49px;
  }
  & span {
    display: inline-block;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 15px;
  }
}

.mobile_menu__main > li:nth-child(-n+5) > a {
  position: relative;
  &::after {
    content: "";
    background-image: url(../images/toggle.svg);
    background-size: contain;
    display: inline-block;
    height: 10px;
    width: 10px;
    vertical-align: middle;
    position: absolute;
    top: 20px;
    right: 18px;
    transition: all 0.4s ease-out;
  }
}

.mobile_menu__main> li > a.inview::after {
    content: "";
    background-image: url(../images/toggle_minus.svg);
}

.mobile_menu__main {
  & > li {
    background-color: $mcolor;
    opacity: 0;
    .active & {
      opacity: 1;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          transition-delay: $i * 0.08s;
        }
      }
    }
  }
  & >li {
    border-bottom: 1px solid $linecolor;
  }
  &>li:nth-last-child(-n+2) {
    text-align: center;
    border-bottom: none !important;
    padding: 0;
  }
  & >li:last-child {
    padding-bottom: 50px;
  }
}

.ul_child {
  height: 0;
  // opacity: 0;
  transition: all 0.6s ease-out;
  overflow: hidden;
  & li {
    background-color: #4484cd;
    &:hover {
      opacity: 0.7;
    }
  }
  &.inview {
    // opacity: 1;
    height: 300px;

    // @for $i from 1 through 6 {
    //   height: 50px * $i;
    // }
    & li {
      visibility: visible;
      border-top: 1px dotted $linecolor;
      
      // @for $i from 1 through 10 {
      //   &:nth-of-type(#{$i}) {
      //     transition-delay: $i * 90ms;
      //   }
      // }
    }
  }
}

// moblie menu ここまで　=====================

/*=== 画像の表示エリア ================================= */
.slide {
  position   : relative;
  overflow   : hidden;
  width      : 100%;
}

.slide::before {
  content:"";
  display: block;
  padding-top: 40.5%; /* 高さを幅の75%に固定 */
}

.slider {
  padding-top: 51px;
}
 
 /*=== slide 画像の設定 ======================================= */
.slide img {
  display    : block;
  position   : absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  opacity    : 0;
  animation  : slideAnime 25s ease infinite;
  animation-fill-mode: none
}
 
 /*=== スライドのアニメーションを段差で開始する ========= */
.slide img:nth-of-type(1) { animation-delay: 0s }
.slide img:nth-of-type(2) { animation-delay: 5s }
.slide img:nth-of-type(3) { animation-delay: 10s }
.slide img:nth-of-type(4) { animation-delay: 15s }
.slide img:nth-of-type(5) { animation-delay: 20s }
 
 /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
   0% { opacity: 0 }
  10% { opacity: 1 }
  20% { opacity: 1 }
  30% { opacity: 0 }
 100% { opacity: 0 }
}
/*=== 画像の表示エリア ここまで================================= */

.sitemap > ul > li {
  background-color: #eceff1;
  // border-top: 1px solid $linecolor;
  & > a {
    padding-left: 25px;
    color: #37474f;
  }
}

.sitemap P {
  text-align: center;
  background-color: #eceff1;
  height: 49px;
  line-height: 49px;
  border-top: 1px solid $linecolor;
  
}

.sitemap .child {
  background-color: #eceff1;
} 