.ap_arrow {
  position: fixed;
  bottom: 10px;
  right: 5px;
  z-index: 1000;
  -webkit-filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.5));
}

.bgblack {
  background-color: #424242;
  color: white;
  padding: 2.5rem 0;
}

.bgblack__container {
  width: 100%;
  margin: 0 auto;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#container.active {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
  position: fixed;
}

.container__section__mmTop {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.container__section__product {
  position: absolute;
  background-color: lightblue;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.container__section__product.active {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.container__section__bisiness {
  position: absolute;
  background-color: lightyellow;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.container__section__bisiness.active {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.container__section__traning {
  position: absolute;
  background-color: lightpink;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.container__section__traning.active {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.footer {
  background: #3a3a3a;
  color: #fff;
}

.footer__container {
  width: 94%;
  height: 100px;
  margin: auto;
}

.footer__copyright {
  font-size: 6px;
  color: #888;
}

.footer__link__item {
  margin-bottom: 3px;
}

.footer__link__mainsite {
  font-size: 16px;
}

.footer__link__medicalstaff {
  font-size: 12px;
}

.footer__link__site_info {
  font-size: 11px;
}

.footer__wrapper a {
  padding: 10px 0;
}

.js-fadein {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.js-fadein.inview {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.link_box {
  font-size: 14px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #000;
  color: gray;
  text-align: center;
  margin: 0 auto;
}

.mm__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
}

.mm__cover.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.mm__hdr__logo {
  margin: 9px;
  max-height: 38px;
}

.mm__hdr__logoImg {
  max-height: 38px;
}

#nav__mm__hdr {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#nav__mm__hdr.active {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

.headertop {
  position: fixed;
  background-color: #fff;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav_area a {
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #1565c0;
  z-index: 2;
}

.nav_open div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav_open div:nth-of-type(1) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

.nav_open div:nth-of-type(3) {
  -webkit-transform: translate(-50%, 7px);
          transform: translate(-50%, 7px);
}

.nav_open.active div:nth-last-child(1) {
  -webkit-transform: rotate(45deg) translate(-50%, 0px);
          transform: rotate(45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav_open.active div:nth-last-child(2) {
  opacity: 0;
}

.nav_open.active div:nth-last-child(3) {
  -webkit-transform: rotate(-45deg) translate(-50%, 0px);
          transform: rotate(-45deg) translate(-50%, 0px);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.link_mark {
  text-align: center;
  border-left: 1px solid #f3f3f3;
}

.mm__bk__container {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  max-width: 440px;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mm__bk__container.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  opacity: 1;
  overflow-y: scroll;
}

.mm__bk__menu a {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  padding: 13px 0;
}

.mm__bk__ttl {
  text-align: center;
  border-bottom: 1px solid #f3f3f3;
}

.mm__bk__ul {
  margin: 10px 0;
}

.mm__bk__ul__a {
  font-size: 12px !important;
  display: inline-block !important;
  padding: 10px 0 !important;
}

.mm__tbk__product {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightpink;
  width: 80%;
  height: 100vh;
}

.mm__tbk__product.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu_item {
  padding-right: 20px !important;
  margin-left: 20px !important;
}

.menu_item:not(:last-child) {
  border-bottom: 1px solid #f3f3f3;
}

.mobile_menu {
  width: 80%;
}

.kv_copy {
  padding-left: 15px;
  color: #fff;
  padding-top: 35px;
  font-size: 0.8rem;
}

.kvimg {
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 50px;
  margin-bottom: -230px;
}

.kv_img01 {
  background-image: url(../../../assets/images/kvimg_dad70si_sp.jpg);
}

.kv_img02 {
  background-image: url(../../../assets/images/kvimg_dcs200si_sp.jpg);
}

.kv_img03 {
  background-image: url(../../../assets/images/kvimg_dabsi_sp.jpg);
}

.kv_txtbg {
  background-image: url(../../../assets/images/kv_txtbg.png);
  background-position: center center;
  background-size: cover;
  height: 230px;
  margin-bottom: 50px;
}

.kv_txt {
  zoom: 0.5;
  display: block;
  padding: 50px 30px 20px;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.swiper-container {
  background-color: #fff;
}

.swiper-pagination {
  bottom: 30px !important;
}

.small {
  font-size: 0.75rem;
}

.toptopics {
  padding: 0 3%;
}

.toptopics li:nth-child(odd) {
  background-color: #3a3a3a;
}

.toptopics__atcl__ttl {
  font-size: 0.85rem;
  line-height: 17px;
}

.toptopics__date {
  font-size: 0.8em;
  margin-bottom: 10px;
}

.toptopics__date__tag {
  background-color: #707070;
  display: inline-block;
  font-size: 0.8em;
  padding: 3px 5px;
  margin-left: 20px;
}

.toptopics__topic {
  padding: 15px;
}

.toptopics__ttl {
  font-size: 1.2rem;
  font-weight: lighter;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
}

.toptopics__ttl::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  border: 3px solid #005c92;
  display: inline-block;
  top: 2px;
  left: 0;
}

.topServices__bg {
  background-color: #005c92;
  padding: 20px;
}

.topServices__container {
  width: 94%;
  margin: auto;
}

.topServices__info__box {
  padding: 5px 1px;
}

.topServices__info__box a {
  display: block;
  border: 1px solid #005c92;
  padding: 20px;
}

.topServices__info__box P {
  line-height: 1.3;
}

.topServices__info__wrapper {
  margin: 2rem 0;
}

.topServices__imag {
  background-image: url(../../../mideical2/assets/images/business.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 125px;
  margin-bottom: -25px;
}

.topServices__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid #cacaca;
}

.topServices__link a {
  display: inline-block;
  font-size: 0.75rem;
  position: relative;
  padding-left: 10px;
}

.topServices__link a::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #005c92;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
}

.topServices__greeting__pict {
  padding: 15px;
}

.topServices__greeting__pict a {
  display: block;
  margin-bottom: 10px;
}

.topServices__greeting__text {
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 1px;
}

.topServices__greeting__textwrapper {
  padding: 2rem 0;
}

.topServices__ttl {
  font-size: 1.2rem;
  font-weight: lighter;
  position: relative;
  padding-left: 25px;
  color: #fff;
}

.topServices__ttl::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 20px;
  border: 3px solid #ffffff;
  display: inline-block;
  top: 2px;
  left: 0;
}

.tri {
  display: inline-block;
  font-size: 0.9rem;
  position: relative;
  padding-left: 10px;
}

.tri::after {
  content: '';
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid #005c92;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
}

.acd {
  background-color: #f4f4f4;
}

.acd a {
  display: block;
  height: 45px;
  line-height: 45px;
  padding-left: 30px;
}

.acd__items__child {
  height: 0;
  opacity: 0;
  -webkit-transform-origin: top;
          transform-origin: top;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.acd__items__child.active {
  opacity: 1;
  visibility: visible;
}

.acd__items__size5.active {
  height: 230px;
}

.acd__items__size4.active {
  height: 184px;
}

.acd__items__size3.active {
  height: 138px;
}

.acd__items__size2.active {
  height: 92px;
}

.acd__item {
  border-top: 1px solid #fff;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  padding-left: 30px;
}

.acd__items__parent {
  border-bottom: 2px solid #fff;
  color: #005c92 !important;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

.hbg_menu {
  position: absolute;
  top: 8px;
  right: 25px;
  background-color: #005c92;
  width: 30px;
  height: 30px !important;
}

.hbg_menu div {
  width: 18px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hbg_menu div:nth-child(1) {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.hbg_menu.active div:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
}

.pc__container {
  width: 1180px;
  margin: 0 auto;
}

.pc__nav__item {
  font-size: 1.5vw;
}

.pc__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
}

.pc__nav__list li:nth-last-child(1) {
  background-color: #005c92;
  color: #fff;
}

.pc__nav__gsite {
  padding: 5px 0;
}

.pc__nav__gsite a {
  font-size: 12px;
  letter-spacing: 1.5px;
  color: #005c92;
}

.pc__nav__msite {
  padding: 5px 0;
}

.pc__nav__msite a {
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #000;
}

.pc__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pc__swiper__kvimg {
  height: 518px;
  width: 50%;
  background-size: 150%;
  background-position: center top;
  background-repeat: no-repeat;
}

.pc__swiper__kv_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pc__swiper__kv_txtbg {
  position: relative;
  background-image: url(../../../assets/images/kv_txtbg.png);
  background-position: center center;
  background-size: cover;
  height: 518px;
  width: 50%;
}

.pc__swp_wrapper {
  margin-bottom: 55px;
}

@media (min-width: 768px) {
  #Acd,
  #nav__mm__hdr,
  #container__section__bisiness,
  #container__section__traning,
  #container__section__product,
  #MM,
  .mobile-swiper {
    display: none;
  }
  .topServices__link {
    border-bottom: none;
  }
  .topServices__greeting__textwrapper {
    padding: 2rem 0 5rem 3rem;
  }
}

@media (min-width: 1024px) {
  .pc__nav__item {
    font-size: 14px;
  }
  .pc__nav__msite {
    padding: 5px 0;
  }
  .pc__nav__msite a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=medical_style.css.map */