$c_mmline: #f3f3f3;



#container {
  position: absolute;
  top: 0;
  left: 0;
  // background-color: rgb(184, 164, 135);
  // height: 100vh;
  width: 100%;
  z-index: 10;
  transform: translateX(0);
  transition: all 0.4s ease;
  &.active {
    transform: translateX(80%);
    position: fixed;
  }
}

.container__section__ {

  &mmTop {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  &product {
    position: absolute;
    background-color: lightblue;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 1;

    &.active {
      transform: translateX(-80%);
    }
  }
  &bisiness {
    position: absolute;
    background-color: lightyellow;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    &.active {
      transform: translateX(-80%);
    }
  }
    &traning {
    position: absolute;
    background-color: lightpink;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    &.active {
      transform: translateX(-80%);
    }
  }
}

#global-container {
  position: relative;
  overflow-x: hidden;
}

.link_box {
  font-size: 14px;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #000;
  color: gray;
  text-align: center;
  margin: 0 auto;
}

//header nav start -------------------------
.mm {
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    cursor: pointer;
    &.active {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
  &__hdr{
    // position: fixed;
    &__logo {
      margin: 9px;
    }
  }
}

.headertop {
  position: fixed;
  background-color: #fff;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

//ハンバーガーmenu============= 
.nav_area a { //外枠の丸
  position: fixed;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background-color: #1565c0;
  z-index: 2;
}
.nav_open {
  & div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-out;

    &:nth-of-type(1) {
      transform: translate(-50%,-10px);
    }
    &:nth-of-type(3) {
      transform: translate(-50%,7px);
    }
  }
}
.nav_open.active div {
  &:nth-last-child(1) {
    transform: rotate(45deg) translate(-50%,0px);
    transform-origin: left;
  }
  &:nth-last-child(2) {
    opacity: 0;
  }
  &:nth-last-child(3) {
    transform: rotate(-45deg) translate(-50%,0px);
    transform-origin: left;
  } 
}
//ハンバーガーmenuここまで============= 


//header nav end -----------------------------

.link_mark {
  text-align: center;
  border-left: 1px solid $c_mmline;
}

.mm__bk__{
  &container {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    max-width: 440px;
    opacity: 0;
    overflow: hidden;
    transform: translateX(-30%);
    transition: all 0.5s ease-out;
    transition-delay: 0.1s;
    &.active {
      transform: translateX(0);
      visibility: visible;
      opacity: 1;
      overflow-y: scroll;
    }
  }
  &menu a {
    display: block;
    color: rgba($color: #000000, $alpha: .7) ;
    font-size: 14px;
    padding: 13px 0;
  }
  &ttl {
    text-align: center;
    border-bottom: 1px solid $c_mmline;
  }
  &ul {
    margin: 10px 0;
  
    // & > li {
    //   list-style: inside;
    //   color: gray;
    // }
    &__a {
      font-size: 12px!important;
      display: inline-block!important;
      padding: 10px 0!important;
    }
  }
}

.mm__tbk__product {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightpink;
    width: 80%;
    height: 100vh;
    &.active{
      transform: translateX(0);
    }
}

.menu_item {
  padding-right: 20px !important;
  margin-left: 20px !important;
  &:not(:last-child) {
    border-bottom: 1px solid $c_mmline;
  }
}

.mobile_menu {
  width: 80%;
}

//swiper ----------------------------------
.kvimg {
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: 50px;
  margin-bottom: -230px; 
}

.kv_img01 {
  // height: 210px;
  // object-fit: cover;
  background-image: url(../../../assets/images/kvimg_dad70si_sp.jpg);
}
.kv_img02 {
  background-image: url(../../../assets/images/kvimg_dcs200si_sp.jpg);
}
.kv_img03 {
  background-image: url(../../../assets/images/kvimg_dabsi_sp.jpg);
}

.kv_txtbg {
  background-image: url(../../../assets/images/kv_txtbg.png);
  background-position: center center;
  background-size: cover;
  height: 230px;
    margin-bottom: 50px;
}

.kv_txt {
  zoom: 0.5;
  display: block;
  padding: 50px 30px 20px;
  transform: translateY(60px);
}

.swiper- {
  &container {
    background-color: #fff;
  }
  &pagination {
    bottom: 30px !important;
  }
}

.damy {
  height: 1000px;
}
